body {
    margin: 20px 490px 20px;
    
    
}

.container {
    border-radius: 20px;
    background: linear-gradient(#28527a, #D8E3E7);
    
}

.place-container {
   margin: 20px 130px 20px 160px;
   background: linear-gradient(#3d7c9b, #90cfed);
   border-radius: 10px;
   font-family: 'Lato', sans-serif; 
}


#search-bar {
    margin: 10px 10px 10px 200px;
    background-color: #4994B7;
    border-radius: 5px;
}

::placeholder {
    color: white;
}

#submit-button {
    background-color: #78B7DB;
    color: white;
    border: 4px solid #78B7DB;
    border-radius: 15px;
    transition: all 200ms ease;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

#submit-button:hover {
    background-color: #6aa2c4;
    color: white;
    border: 4px solid #6aa2c4;
}

.unit {
    color:white;
    padding-left: 60px;
}

#current-city {
    color: white;
}

.as-of {
    color: #b6d1dc;
    padding-left: 15px;
}

.number {
    color: white;
    font-size: 50px;
    padding-left: 30px;
    }

.emoji {
    font-size: 70px;
}

.high {
    color: white;
    font-size: large;
}


.today {
    padding-left: 25px;
}

.hourly {
    padding-left: 15px;
}

.daily {
    padding-left: 25px;
}

.today-forecast {
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

h4 {
    padding-left: 20px;
}

ul .bottom-box {
    list-style: none;
}

li {
    display: inline;
}



.weather-today {
    margin: 20px 30px 20px 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px; 
}

.lows {
    padding-left: 380px;
}

#humidity {
    padding-left: 420px;
}

#wind {
     padding-left: 440px;
}


.rain-chance {
    padding-left: 390px;
}

.temp {
    font-size: 290%;
    text-align: center;
    color: blue;
}   

.icon {
    text-align: center;
    font-size: 290%;
}

.text {
    font-size: 120%;
    text-align: center;
}

hr {
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.daily-forecast {
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

#description {
    text-transform: capitalize;
}
